<header>
    <div class="headerContainer">
        <div class="headerContent">
            <div class="logoContainer">
                <a href="/" class="headerLogo">
                    <img src="/assets/Components/Header/redmexsu_logotipo-encabezado.png" alt="REDMEXSU" class="logoImage">
                </a>
            </div>
            
            <!-- Botón de menú móvil -->
            <div class="menuToggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            
            <div class="overlay" id="overlay"></div>
            <nav class="mainNav" id="main-nav">
                <div class="navLinks">
                    <a href="/index.html" class="navItem">
                        <span class="navText">INICIO</span>
                        <div class="navUnderline"></div>
                    </a>
                    <a href="/pages/Acerca/acercaPage.html" class="navItem">
                        <span class="navText">ACERCA</span>
                        <div class="navUnderline"></div>
                    </a>
                    <a href="/pages/News/newsPage.html" class="navItem">
                        <span class="navText">NOTICIAS</span>
                        <div class="navUnderline"></div>
                    </a>
                    <a href="/pages/Members/membersPage.html" class="navItem">
                        <span class="navText">INTEGRANTES</span>
                        <div class="navUnderline"></div>
                    </a>
                    <div class="navItem dropdown">
                        <a href="/pages/Activities/activitiesPage.html" class="navLink">
                            <span class="navText">ACTIVIDADES</span>
                            <div class="navUnderline"></div>
                        </a>
                        <div class="dropdown-content">
                            <a href="/pages/Activities/activitiesPage.html" class="dropdown-item">Comisión de Infraestructura</a>
                            <a href="/pages/Mapa/mapaPage.html" target="_blank" class="dropdown-item">Mapa REDMEXSU</a>
                        </div>
                    </div>
                    <a href="/pages/Program/programPage.html" class="navItem">
                        <span class="navText">AGENDA</span>
                        <div class="navUnderline"></div>
                    </a>
                    <a href="/pages/Contact/contactPage.html" class="navItem">
                        <span class="navText">CONTACTO</span>
                        <div class="navUnderline"></div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>