<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <img src="/assets/Components/Header/redmexsu_logotipo-encabezado.png" alt="Logo REDMEXSU" onerror="this.style.display='none'">
    </div>
    <nav class="nav">
      <a href="/pages/Home/index.html">Inicio</a>
      <a href="/pages/News/newsPage.html">Noticias</a>
      <a href="/pages/Members/membersPage.html">Miembros</a>
      <a href="/pages/Program/programPage.html">Programa</a>
      <a href="/pages/Contact/contactPage.html">Contacto</a>
    </nav>
  </div>
</div>